# Awara Banjara Environment Variables Boilerplate Template
PORT=8085
HOST=0.0.0.0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=YourStrongPasswordHere!
ADMIN_PASSWORD_HASH=
SESSION_SECRET=your_random_session_secret_key
ALLOWED_ORIGINS=*
